.contenedor-footer{
    background-color: #66443E;
    height: 250px;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
}

.logo-footer{
    padding: 20px 50px;
}

.nav-logo{
    font-size: 24px;
    color: #E3CFCC;
    font-family: 'Playfair Display';
    margin-top: -90px;
    padding: 20px 0;
}

.redes-footer{
    margin-top: -70px;    
    justify-content: center;
    display: flex;
}

.redes-footer a{
    color: #E3CFCC;
    display: inline-block;
    text-decoration: none;
    font-size: 35px;
    padding: 10px;
    margin-left: 25px;
}

.copyrigth{
    padding: 5px 10px;
    font-size: 15px;
}

.copyrigth p{
    text-align: center;
    color: #E3CFCC;
    margin-top: 30px;
}

@media (min-width:768px){
    .copyrigth{
        font-size: 18px;
    }
}

@media (min-width:1024px){
    .copyrigth{
        font-size: 20px;
    }
}